.ec2-container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.ec2 {
  font-size: 20px;
}

.auth-container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.auth{
  font-size: 20px;
}

